vim.o.winborder = "rounded"
vim.o.number = true
vim.o.relativenumber = true
vim.o.signcolumn = "yes"
vim.o.wrap = false
vim.o.tabstop = 4
vim.o.expandtab = true
vim.o.swapfile = false

vim.g.mapleader = "\\"

vim.keymap.set('n', '<leader>w', ':write<CR>')
vim.keymap.set('n', '<leader>lf', vim.lsp.buf.format)

vim.pack.add({
        { src = "https://github.com/neovim/nvim-lspconfig" },
        { src = "https://github.com/mason-org/mason.nvim" },
        {{ theme_map.neovim[color_scheme].plugin }}
})

require "mason".setup()

vim.lsp.enable({ "pyrefly", "ruff", "ty" })
vim.lsp.enable({ "lua_ls" })
vim.lsp.enable({ "clangd" })

vim.o.background = "{{ theme_background[color_scheme] }}"
vim.cmd("colorscheme {{ theme_map.neovim[color_scheme].colorscheme }}")
