[general]
import = [
    "alacritty-theme/themes/{{ color_scheme }}.toml"
]

[colors]
draw_bold_text_with_bright_colors = false

[font]
size = 14.0
[font.normal]
family = "JetBrainsMono Nerd Font"

[window]
option_as_alt = "Both"

[window.dimensions]
columns = 85
lines = 30

[window.padding]
x = 20
y = 20
